.row.centered-images
  .col-xs-12.col-sm-12.col-md-8
    %h2 1. Track how you feel
    .screen-shots-capture
      = image_tag("howareyou.png")
      = image_tag("howareyouandroid.png")

    Whenever you feel like (we recommend at least daily) capture how you feel using the app.
  .col-xs-12.col-sm-12.col-md-4
    %h2 2. Get insights
    = image_tag("stats.png")

