.jumbotron
  %h1
    HeCoSiRe
  %p
    Healthy, Coming Down, Sick & Recovering.


%p You can use HeCoSiRe to track how you feel and get insight into your health.

- if user_signed_in?
  %button.btn.btn-success
    = link_to('Manage your records', records_path, :rel => 'nofollow')
- else
  To start simply
  %button.btn.btn-primary
    = link_to('create free account', new_user_registration_path, :rel => 'nofollow')
  or
  = link_to('login', records_path, :rel => 'nofollow')
  if you already have one.

%h1 How it works

Whenever you feel like (we recommend at least daily) capture how you feel using the app.

.container
  .row
    .col-xs-12.col-sm-6
      .panel.panel-default.panel-health-state
        .panel-heading
          Healthy
        .panel-body
          .panel-health-body-content.panel-health-body-content-healthy
            .panel-health-body-text
              You feeling healthy, great!


    .col-xs-12.col-sm-6
      .panel.panel-default.panel-health-state
        .panel-heading
          Coming Down
        .panel-body
          .panel-health-body-content.panel-health-body-content-coming-down
            .panel-health-body-text
              You don't feel quite right, maybe you getting down with cold?
  .row
    .col-xs-12.col-sm-6
      .panel.panel-default.panel-health-state
        .panel-heading
          Sick
        .panel-body
          .panel-health-body-content.panel-health-body-content-sick
            .panel-health-body-text
              No doubt, you feel sick. You probably should see a doctor and stay home.
    .col-xs-12.col-sm-6
      .panel.panel-default.panel-health-state
        .panel-heading
          Recovering
        .panel-body
          .panel-health-body-content.panel-health-body-content-recovery
            .panel-health-body-text
              Still not 100% healthy, but getting better.

We launched our Android app:

%a{:href => "https://play.google.com/store/apps/details?id=hecosire.com.hecosireapp"}
  %img{:alt => "Android app on Google Play", :src => "https://developer.android.com/images/brand/en_app_rgb_wo_45.png"}/

%h2 The benefit

The data you capture will help you reflect on your health. Overtime we hope to provide insights that will allow you to be more often healthy.

