.jumbotron
  .container
    .row
      .col-xs-12.col-md-6
        %h1
          HeCoSiRe
        %p
          Track your health.
          %br
          %br

        %p HeCoSiRe is a health tracker. Use it to track how you feel and get insight into your health.

        - if user_signed_in?
          %a{:href => records_path, :rel => 'nofollow'}
            %button.btn.btn-success
              Manage your records
          %a{:href => new_record_path, :rel => 'nofollow'}
            %button.btn.btn-primary
              Report how you feel

        - else
          To start simply
          %a{:href => new_user_registration_path, :rel => 'nofollow'}
            %button.btn.btn-primary
              create free account
          or
          = link_to('login', new_user_session_path, :rel => 'nofollow')
          if you already have one.

        .facebook
          #fb-root
          .fb-like{"data-action" => "like", "data-href" => "http://hecosire.com/", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true"}

      .col-xs-12.col-md-6
        %iframe#hecosire-video{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/wICKl0kYK9M?rel=0", :width => "100%"}



%h1 How it works

.container
  .row
    .col-xs-12.col-sm-12.col-md-8
      %h2 1. Track how you feel
      .screen-shots-capture
        = image_tag("howareyou.png")
        = image_tag("howareyouandroid.png")

      Whenever you feel like (we recommend at least daily) capture how you feel using the app.
    .col-xs-12.col-sm-12.col-md-4
      %h2 2. Get insights
      = image_tag("stats.png")

  .row
    .col-xs-12
      %h2 What different states mean
  .row
    .col-xs-12.col-sm-6
      .panel.panel-default.panel-health-state
        .panel-heading
          Healthy
        .panel-body
          .panel-health-body-content.panel-health-body-content-healthy
            .panel-health-body-text
              You feeling healthy, great!


    .col-xs-12.col-sm-6
      .panel.panel-default.panel-health-state
        .panel-heading
          Coming Down
        .panel-body
          .panel-health-body-content.panel-health-body-content-coming-down
            .panel-health-body-text
              You don't feel quite right, maybe you getting down with cold?
  .row
    .col-xs-12.col-sm-6
      .panel.panel-default.panel-health-state
        .panel-heading
          Sick
        .panel-body
          .panel-health-body-content.panel-health-body-content-sick
            .panel-health-body-text
              No doubt, you feel sick. You probably should see a doctor and stay home.
    .col-xs-12.col-sm-6
      .panel.panel-default.panel-health-state
        .panel-heading
          Recovering
        .panel-body
          .panel-health-body-content.panel-health-body-content-recovery
            .panel-health-body-text
              Still not 100% healthy, but getting better.

We launched our Android app:

%a{:href => "https://play.google.com/store/apps/details?id=hecosire.com.hecosireapp"}
  %img{:alt => "Android app on Google Play", :src => "https://developer.android.com/images/brand/en_app_rgb_wo_45.png"}/

%h2 The benefit

The data you capture will help you reflect on your health. Overtime we hope to provide insights that will allow you to be more often healthy.

- unless user_signed_in?
  %p

  %h2 Interested?

  To start simply
  %a{:href => new_user_registration_path, :rel => 'nofollow'}
    %button.btn.btn-primary
      create free account

:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
