.jumbotron
  .container
    .row
      .col-xs-12.col-md-6
        %h1
          HeCoSiRe
        %p
          Track your health.
          %br
          %br

        %p HeCoSiRe is a health tracker. Use it to track how you feel and get insight into your health.

        - if user_signed_in?
          %a{:href => records_path, :rel => 'nofollow'}
            %button.btn.btn-success
              Manage your records
          %a{:href => new_record_path, :rel => 'nofollow'}
            %button.btn.btn-primary
              Report how you feel

        - else
          To start simply
          %a{:href => new_user_registration_path, :rel => 'nofollow'}
            %button.btn.btn-primary
              create free account
          or
          = link_to('login', new_user_session_path, :rel => 'nofollow')
          if you already have one.

        .facebook
          #fb-root
          .fb-like{"data-action" => "like", "data-href" => "http://hecosire.com/", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true"}

      .col-xs-12.col-md-6
        %iframe#hecosire-video{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/wICKl0kYK9M?rel=0", :width => "100%"}



%h1 How it works

.container
  = render 'how_it_works'

  = link_to('Find out more', how_it_works_path)

.container
  .row
    .col-xs-12.col-sm-6
      %h1 How to track
      You can track using website or with our Android app:

      %a{:href => "https://play.google.com/store/apps/details?id=hecosire.com.hecosireapp"}
        %img{:alt => "Android app on Google Play", :src => "https://developer.android.com/images/brand/en_app_rgb_wo_45.png"}/

      %h2 The benefit

      %p The data you capture will help you reflect on your health.

      %p We provide personal log, cloud tags and useful graphs that let you do it.

      %p Overtime we hope to provide insights that will allow you to be more often healthy.

      - unless user_signed_in?
        %p

        %h2 Interested?

        To start simply
        %a{:href => new_user_registration_path, :rel => 'nofollow'}
          %button.btn.btn-primary
            create free account
    .col-xs-12.col-sm-6
      %h2 As seen in
      %a{:href => "http://pixelhealth.net/2015/04/24/the-friday-interview-grzegorz-dziemidowicz-hecosire/"}
        %img{:alt => "PixelHealth interview", :src => "http://pixelhealth.net/wp-content/uploads/2014/04/pixel-health1.png"}/

      %h2 How is everyone feeling?

      Glad you asked,
      = link_to('find out here how other users are feeling.', status_path)




  :javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
