// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-record {
  max-width: 400px;
}

.panel-body-record {
  max-width: 380px;

  select {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  textarea, select {
    width: 100%;
  }
}